@page
@attribute [Navigation("Customers", "Customer", 3, "group", NavigationPosition.Left)]
@{
	ViewData["Title"] = "Customers";
}

<h2 class="content-block">@ViewData["Title"]</h2>

@(Html.DevExtreme().DataGrid<DTOCustomer>()
	.Editing(editing =>
	{
		editing.Mode(GridEditMode.Row);
		editing.AllowAdding(true);
		editing.AllowDeleting(true);
		editing.AllowUpdating(true);
	})
	.Columns(columns => {

		columns.AddFor(m => m.CustomerId);

		columns.AddFor(m => m.FirstName);

		columns.AddFor(m => m.LastName);

		columns.AddFor(m => m.Company);

		columns.AddFor(m => m.Address);

		columns.AddFor(m => m.City);

		columns.AddFor(m => m.State);

		columns.AddFor(m => m.Country);

		columns.AddFor(m => m.PostalCode);

		columns.AddFor(m => m.Phone);

		columns.AddFor(m => m.Fax);

		columns.AddFor(m => m.Email);

		//columns.AddFor(m => m.SupportRepId).Lookup(lookup => lookup
		//    .DataSource(ds => ds.WebApi().Controller("Customer").LoadAction("EmployeeLookup").Key("Value"))
		//    .ValueExpr("Value")
		//    .DisplayExpr("Text")
		//);
	})
	.ConfigureAppGridSettings("Customer", nameof(DTOCustomer.CustomerId))
)
